### **Задание 44 В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?**
```
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()
```

In [85]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  robot
2  human
3  human
4  robot

In [86]:
df = pd.DataFrame(columns=list(set(data['whoAmI'])))
for col in data['whoAmI']:
    df.loc[len(df.index)] = [int(col == df.columns[i])
                             for i in range(len(df.columns))]
df

    human  robot
0       1      0
1       0      1
2       1      0
3       1      0
4       0      1
5       0      1
6       0      1
7       1      0
8       1      0
9       1      0
10      0      1
11      0      1
12      1      0
13      0      1
14      0      1
15      1      0
16      0      1
17      0      1
18      1      0
19      1      0